<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="note">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input [(ngModel)]="note.title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Note</ion-label>
        <ion-textarea [(ngModel)]="note.text" rows="8"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>

  <ion-button expand="block" color="success" (click)="updateNote()">
    <ion-icon name="save" slote="start"></ion-icon>
    Update
  </ion-button>
  <ion-button expand="block" color="danger" (click)="deleteNote()">
    <ion-icon name="trash" slote="start"></ion-icon>
    Delete
  </ion-button>
</ion-content>
